<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="indigo">
      <section name="database" type="Indigox.Common.Data.Configuration.DatabaseSection, Indigox.Common.DataBase"/>
    </sectionGroup>
  </configSections>

  <indigo>
    <database>
      <connections>
        <add name="UUM" connectionString="Data Source=192.168.0.61;Initial Catalog=D_EIP_UUM;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient"/>
      </connections>
    </database>
  </indigo>
  <appSettings>
    <add key="ADServer" value="192.168.0.60" />
    <add key="ADRootName" value="Indigox" />
    <add key="ADRootGroupName" value="Indigox" />
    <add key="ADUsername" value="test\administrator" />
    <add key="ADPassword" value="P@ssw0rd" />
    <add key="CreateOURequiredType" value="Company,Department" />
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
