<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <include>

    <shim categoryName="网站基础配置" key="Web.Url"              defaultValue=""                               title="网站根路径"      description="" />
    <shim categoryName="网站基础配置" key="Web.Title"            defaultValue=""                               title="网站标题"        description="" />
    <shim categoryName="网站基础配置" key="Web.CustomerName"     defaultValue=""                               title="客户名称"        description="" />
    <shim categoryName="网站基础配置" key="Web.ContactEmail"     defaultValue=""                               title="联系邮件"        description="" />
    <shim categoryName="网站基础配置" key="Web.LogoUrl"          defaultValue="/res/img/logo.png"              title="LOGO 图片"       description="" />
    <shim categoryName="网站基础配置" key="Web.LogoutUrl"        defaultValue="/Login/Logout.aspx"             title="网站登出链接"    description="" />
    <shim categoryName="网站基础配置" key="Web.ProfileUrl"       defaultValue="#/Profile/Edit.htm"             title="个人设置连接"    description="" />
    <shim categoryName="网站基础配置" key="Web.ChangePassword"   defaultValue="#/Profile/ChangePassword.htm"   title="修改个人密码"    description="" />


    <shim categoryName="JsLib配置"   key="JsLib.IntegrateLync"       defaultValue="false" title="是否集成Lync"       description="" />
    <shim categoryName="JsLib配置"   key="JsLib.IntegrateSharePoint" defaultValue="false" title="是否集成SharePoint" description="" />
    <shim categoryName="JsLib配置"   key="JsLib.IntegrateUUV"        defaultValue="false" title="是否集成UUV"        description="" />

    <class className="Indigox.Settings.Service.NavigationService, Indigox.Settings" />
    <class className="Indigox.Settings.WebUtility.NavigationRemoteLoader, Indigox.Settings" />
    <class className="Indigox.UUM.HR.Setting.HRSyncMode, Indigox.UUM.HR" />
    <class className="Indigox.UUM.HR.Setting.HREmployeeEmailSetting, Indigox.UUM.HR" />
    <class className="Indigox.UUM.HR.Setting.HREmployeeProfilePrefixSetting, Indigox.UUM.HR" />
    <class className="Indigox.UUM.Sync.OpusOne.PowerHRP.Setting.HRIgnoreOrg, Indigox.UUM.Sync.OpusOne.PowerHRP" />
    <class className="Indigox.UUM.Application.Profile.ChangePasswordCommand, Indigox.UUM.Application" />
  </include>
</settings>