<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ADServer" value="192.168.0.60" />
  <add key="ADRootName" value="Excegroup" />
  <add key="ADRootGroupName" value="卓越地产" />
  <add key="ADUsername" value="test\administrator" />
  <add key="ADPassword" value="P@ssw0rd" />
  <add key="CreateOURequiredType" value="Company,Department" />
</appSettings>