<?xml version="1.0"?>
<database>
  <connections>
    <add name="Security" connectionString="uid=sa; pwd=P@ssw0rd; server=TSTIX-WEBAPP; database=D_EIP_UUM; Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Settings" connectionString="uid=sa; pwd=P@ssw0rd; server=TSTIX-WEBAPP; database=D_EIP_UUM; Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="UUM" connectionString="uid=sa; pwd=P@ssw0rd; server=TSTIX-WEBAPP; database=D_EIP_UUM; Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="OpusOnePowerHRP" connectionString="uid=sa; pwd=P@ssw0rd; server=TSTIX-WEBAPP; database=HRM; Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connections>
</database>
