<?xml version="1.0"?>
<warmup>
  <elements>
    <add name="domainModels" type="Indigox.Common.DomainModels.Initialization.Initializer, Indigox.Common.DomainModels" />
    <add name="domainEvents" type="Indigox.Common.EventBus.WarmUp, Indigox.Common.EventBus" />
    <add name="dbIdGenertators" type="Indigox.Common.DomainModels.Initialization.DBIdGenertatorWarmUp, Indigox.Common.DomainModels" />
    <!--<add name="requestForwardWarmUp" type="Indigox.Web.Presentation.RequestForward.WarmUp, Indigox.Web.Presentation" />-->
    <!--<add name="cmsEvents" type="Indigox.CMS.Web.WarmUp, Indigox.CMS.ObjectModel" />-->
    <add name="instructions" type="Indigox.Web.Remoting.Web.InstructionWarmUp, Indigox.Web.Remoting" />
    <add name="repository" type="Indigox.Common.DomainModels.Repository.NHibernateImpl.Web.WarmUp, Indigox.Common.DomainModels.Repository.NHibernateImpl" />
    <add name="securityRepository" type="Indigox.CMS.Security.Repository.NHibernateImpl.Web.WarmUp, Indigox.CMS.Security.Repository.NHibernateImpl" />
  </elements>
</warmup>
