<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="indigo">
      <section name="database" type="Indigox.Common.Data.Configuration.DatabaseSection, Indigox.Common.Database" />
      <section name="membership" type="Indigox.Common.Membership.Configuration.MembershipSection, Indigox.Common.Membership" />
      <section name="factories" type="Indigox.Common.NHibernateFactories.Configuration.FactoriesSection, Indigox.Common.NHibernateFactories" />
      <section name="events" type="Indigox.Common.EventBus.Configuration.EventsSection, Indigox.Common.EventBus" />
    </sectionGroup>
  </configSections>

  <indigo>
    <database>
      <connections>
        <add name="UUM" connectionString="Data Source=192.168.0.61;Initial Catalog=D_EIP_UUM;User ID=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
      </connections>
    </database>

    <membership>
      <providerFactory type="Indigox.UUM.NHibernateImpl.ProviderFactory, Indigox.UUM.NHibernateImpl" />
    </membership>

    <factories>
      <factory assemblyName="Indigox.Common.Membership" path="Config\uum.nhb.cfg.xml" connectionString="UUM" autoBind="true" />
    </factories>

    <events>
      <!--<source type="Indigox.Common.Membership.OrganizationalPerson, Indigox.Common.Membership">
        <event type="Indigox.Common.DomainModels.Events.RepositoryAddedEvent, Indigox.Common.DomainModels">
          <listener method="OnAdded" type="Indigox.UUM.EventHandlers.OrganizationalPersonEventHandler, Indigox.UUM" />
        </event>
        <event type="Indigox.Common.DomainModels.Events.RepositoryDeletedEvent, Indigox.Common.DomainModels">
          <listener method="OnDeleted" type="Indigox.UUM.EventHandlers.OrganizationalPersonEventHandler, Indigox.UUM" />
        </event>
        <event type="Indigox.Common.DomainModels.Events.RepositoryDeletedEvent, Indigox.Common.DomainModels">
          <listener method="OnUpdated" type="Indigox.UUM.EventHandlers.OrganizationalPersonEventHandler, Indigox.UUM" />
        </event>
      </source>-->
    </events>
  </indigo>
</configuration>