<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="indigo">
      <section name="warmup" type="Indigox.Common.Configuration.Web.Configuration.WarmUpSection, Indigox.Common.Configuration" />
      <section name="database" type="Indigox.Common.Data.Configuration.DatabaseSection, Indigox.Common.Database" />
      <section name="membership" type="Indigox.Common.Membership.Configuration.MembershipSection, Indigox.Common.Membership" />
      <section name="filecenter" type="Indigox.Web.FileCenter.Configuration.FileCenterSection, Indigox.Web.FileCenter" />
    </sectionGroup>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <!--<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />-->
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="dataconfiguration">
    <sources>
      <add name="dataconfiguration" filePath="dataconfiguration.config" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <!-- see: https://github.com/dotless/dotless/blob/master/src/dotless.Core/configuration/XmlConfigurationInterpreter.cs -->
  <dotless minifyCss="false" debug="false" cache="true" />

  <indigo>
    <warmup configSource="indigo.warmup.config" />
    <database configSource="indigo.database.config" />
    <membership configSource="indigo.membership.config" />
    <filecenter configSource="indigo.filecenter.config" />
  </indigo>

  <!--<rewriter configSource="rewriter.config" />-->

  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms defaultUrl="/default.htm" loginUrl="/Login/Login.aspx" timeout="1440" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

    <!-- IIS 6 settings begin -->
    <httpModules>
      <add name="WarmUp" type="Indigox.Common.Configuration.Web.WarmUpMoudle, Indigox.Common.Configuration" />
      <add name="MobileAdapterModule" type="Indigox.Web.Presentation.Modules.MobileAdapterModule, Indigox.Web.Presentation" />
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
      <add name="StateContainerModule" type="Indigox.Common.StateContainer.Web.StateContainerModule, Indigox.Common.StateContainer" />
      <add name="IndigoxUrlAuthorization" type="Indigox.Web.Authorization.HttpModules.AuthorizationModule, Indigox.Web.Authorization" />
    </httpModules>
    <httpHandlers>
      <add path="*.LESS" verb="*" type="dotless.Core.LessCssHttpHandler,dotless.Core" validate="false" />
      <add path="*" verb="CALL" type="Indigox.Web.Remoting.Web.RemotingHandler, Indigox.Web.Remoting" validate="false" />
      <add path="/forwarder" verb="*" type="Indigox.Web.Presentation.RequestForward.Forwarder, Indigox.Web.Presentation" validate="false" />
    </httpHandlers>
    <!-- IIS 6 settings end -->
  </system.web>

  <!-- IIS 7 settings begin -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <clear />
      <add name="rules-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.rules" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" verb="*" />
      <add name="rules-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.rules" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="*" />
      <add name="rules-64-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.rules" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="*" />
      <add name="xoml-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.xoml" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" verb="*" />
      <add name="xoml-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.xoml" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="*" />
      <add name="xoml-64-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.xoml" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="*" />
      <add name="svc-ISAPI-2.0-64" allowPathInfo="false" modules="IsapiModule" path="*.svc" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="%SystemRoot%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="*" />
      <add name="svc-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.svc" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="*" />
      <add name="svc-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.svc" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" verb="*" />
      <add name="ISAPI-dll" allowPathInfo="true" modules="IsapiModule" path="*.dll" preCondition="" requireAccess="Execute" resourceType="File" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />
      <add name="TraceHandler-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="trace.axd" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Web.Handlers.TraceHandler" verb="GET,HEAD,POST,DEBUG" />
      <add name="WebAdminHandler-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="WebAdmin.axd" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Web.Handlers.WebAdminHandler" verb="GET,DEBUG" />
      <add name="AssemblyResourceLoader-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="WebResource.axd" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Web.Handlers.AssemblyResourceLoader" verb="GET,DEBUG" />
      <add name="PageHandlerFactory-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.aspx" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Web.UI.PageHandlerFactory" verb="GET,HEAD,POST,DEBUG" />
      <add name="SimpleHandlerFactory-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.ashx" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Web.UI.SimpleHandlerFactory" verb="GET,HEAD,POST,DEBUG" />
      <add name="WebServiceHandlerFactory-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.asmx" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" verb="GET,HEAD,POST,DEBUG" />
      <add name="HttpRemotingHandlerFactory-rem-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.rem" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" verb="GET,HEAD,POST,DEBUG" />
      <add name="HttpRemotingHandlerFactory-soap-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.soap" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" verb="GET,HEAD,POST,DEBUG" />
      <add name="AXD-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.axd" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="PageHandlerFactory-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.aspx" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="SimpleHandlerFactory-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.ashx" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="WebServiceHandlerFactory-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.asmx" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.rem" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" allowPathInfo="false" modules="IsapiModule" path="*.soap" preCondition="classicMode,runtimeVersionv2.0,bitness32" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="AXD-ISAPI-2.0-64" allowPathInfo="false" modules="IsapiModule" path="*.axd" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="PageHandlerFactory-ISAPI-2.0-64" allowPathInfo="false" modules="IsapiModule" path="*.aspx" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="SimpleHandlerFactory-ISAPI-2.0-64" allowPathInfo="false" modules="IsapiModule" path="*.ashx" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="WebServiceHandlerFactory-ISAPI-2.0-64" allowPathInfo="false" modules="IsapiModule" path="*.asmx" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" allowPathInfo="false" modules="IsapiModule" path="*.rem" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" allowPathInfo="false" modules="IsapiModule" path="*.soap" preCondition="classicMode,runtimeVersionv2.0,bitness64" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="0" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" type="" verb="GET,HEAD,POST,DEBUG" />
      <add name="TRACEVerbHandler" allowPathInfo="false" modules="ProtocolSupportModule" path="*" preCondition="" requireAccess="None" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="" verb="TRACE" />
      <add name="OPTIONSVerbHandler" allowPathInfo="false" modules="ProtocolSupportModule" path="*" preCondition="" requireAccess="None" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="" verb="OPTIONS" />

      <add name="ApkFiles" allowPathInfo="false" modules="StaticFileModule" path="*.apk" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />
      <!--<add name="AppCacheFiles" allowPathInfo="false" modules="StaticFileModule" path="*.appcache" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />-->
      <add name="GifFiles" allowPathInfo="false" modules="StaticFileModule" path="*.gif" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />
      <add name="IcoFiles" allowPathInfo="false" modules="StaticFileModule" path="*.ico" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />
      <add name="IpaFiles" allowPathInfo="false" modules="StaticFileModule" path="*.ipa" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />
      <add name="JpgFiles" allowPathInfo="false" modules="StaticFileModule" path="*.jgp" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />
      <!--<add name="JsFiles" allowPathInfo="false" modules="StaticFileModule" path="*.js" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />-->
      <add name="PngFiles" allowPathInfo="false" modules="StaticFileModule" path="*.png" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />
      <add name="LessFiles" path="*.less" verb="*" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="integratedMode" />

      <add name="ForwarderDispatcher-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="/forwarder" preCondition="integratedMode" requireAccess="Read" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="Indigox.Web.Presentation.RequestForward.Forwarder" verb="*" />
      <add name="RemotingHandler-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="Indigox.Web.Remoting.Web.RemotingHandler" verb="CALL" />
      <add name="RemotingUrlInvokeHandler-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*_remoting/*" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="Indigox.Web.Remoting.Web.RemotingHandler" verb="*" />
      <add name="StaticFileHandler-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="*.*" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="System.Web.StaticFileHandler" verb="*" />
      <add name="StaticFile" allowPathInfo="false" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" path="*" preCondition="" requireAccess="Read" resourceType="Either" responseBufferLimit="4194304" scriptProcessor="" type="" verb="*" />
    </handlers>
    <modules>
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
      <add name="WarmUp" preCondition="managedHandler" type="Indigox.Common.Configuration.Web.WarmUpMoudle, Indigox.Common.Configuration" />
      <add name="MobileAdapterModule" preCondition="managedHandler" type="Indigox.Web.Presentation.Modules.MobileAdapterModule, Indigox.Web.Presentation" />
      <!--<add name="UrlRewriter" preCondition="managedHandler" type="Intelligencia.UrlRewriter.RewriterHttpModule" />-->
      <add name="StateContainerModule" preCondition="managedHandler" type="Indigox.Common.StateContainer.Web.StateContainerModule, Indigox.Common.StateContainer" />
      <add name="IndigoxUrlAuthorization" type="Indigox.Web.Authorization.HttpModules.AuthorizationModule, Indigox.Web.Authorization" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!-- IIS 7 settings end -->

  <!-- IIS 6 settings begin -->
  <location path="editor/attachments">
    <system.web>
      <httpModules>
        <clear />
      </httpModules>
      <httpHandlers>
        <add path="Upload.htm" type="Indigox.Web.FileCenter.UploadHandler, Indigox.Web.FileCenter" validate="false" verb="GET,HEAD,POST" />
      </httpHandlers>
      <!-- 102400(KB) = 100(MB) -->
      <httpRuntime maxRequestLength="102400" />
    </system.web>
  </location>
  <!-- IIS 6 settings end -->

  <!-- IIS 7 settings begin -->
  <location path="editor/attachments/Upload.htm">
    <system.web>
      <!-- 102400(KB) = 100(MB) -->
      <httpRuntime maxRequestLength="102400" />
    </system.web>
    <system.webServer>
      <handlers>
        <add name="UploadHandler-Integrated" allowPathInfo="false" modules="ManagedPipelineHandler" path="Upload.htm" preCondition="integratedMode" requireAccess="Script" resourceType="Unspecified" responseBufferLimit="4194304" scriptProcessor="" type="Indigox.Web.FileCenter.UploadHandler, Indigox.Web.FileCenter" verb="POST" />
      </handlers>
      <security>
        <requestFiltering>
          <!-- 2147483648(B) = 2(GB) -->
          <requestLimits maxAllowedContentLength="2147483648" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <!-- IIS 7 settings end -->

  <location path="res">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="editor">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>